# IDE
.vscode
.idea

# Cache
__pycache__
.pytest_cache/

# Local environment variables
.env

# Test coverage
.coverage
coverage.xml
htmlcov/

# Google Cloud service account keys
awesomepowertx-fd7ce60f99bb.json
